body {
  margin: 0;
  overflow: hidden;
  background: black;
  color: white;
  font-family: monospace;
}

#info {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  z-index: 1;
}
